/* layout */
header {
    position: relative;
    /* sub-menu가 뒤에서 나오기 위해서 */
    z-index: 1;
}

.l_leader {
    display: flex;
    /* border: 1px solid pink; */
    justify-content: space-between;
    height: 78px;
    max-width: 1440px;
    margin: 0 auto;
    /* 가운데 */
    padding: 0 7%;
    position: relative;
    color: #000;
    font-size: 15px;
}

/* 언어 선택 */
.select-language {
    position: relative;
    padding-top: 16px;
    font-size: 15px;
    letter-spacing: -0.05em;
    width: 25%;
    text-align: left;
}

.select-lang-list {
    visibility: hidden;
    position: absolute;
    top: 36px;
    left: 0;
    padding: 12px 0;
    margin-top: 10px;
    border: 1px solid rgb(25, 25, 25);
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

}

.select-lang-list a {
    display: block;
    padding: 6px 21px 4px 18px;
    line-height: 19.5px;
    text-transform: uppercase;
}

.select-lang-list li:nth-child(1) a {
    background-color: rgb(238, 238, 238);
}

.select-lang-list li:focus,
.select-lang-list li:hover {
    color: #000;
    background-color: rgb(238, 238, 238);
}

/* header */
.wrap {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

#header-link {
    color: #fff;
}

header:hover {
    background-color: #fff;
    color: #000;
}

header::before {
    content: "";
    opacity: 0;
    transition: opacity .4s linear;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* 로고 */
.logo {
    align-self: center;
    /* 더 알아보기 */
}

.logo img {
    width: 166px;
}

/* 매장찾기 */
.header-link {
    width: 25%;
    padding-top: 16px;
    text-align: right;
}

.header-link>a {
    display: inline-block;
    margin: 0 .2em;
    padding: 1px 8px 0 10px;
    font-size: 12px;
    position: relative;
}

.header-link>a:after {
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    right: -4px;
    width: 1px;
    height: 13px;
    border-left: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    background-color: #eee;
}

.header-link>a:nth-child(3)::after {
    display: none;
}

/* top search */
.search-container {
    visibility: hidden;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 78px;
    left: 0;
    width: 100%;
    padding-top: 52px;
    box-sizing: border-box;
}



.search-box {
    display: flex;
    position: relative;
    max-width: 700px;
    padding-top: 8px;
    padding-bottom: 55px;
    margin: 0 auto;
    box-sizing: border-box;
}

.text {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 100px);
    height: 52px;
    overflow: hidden;
    vertical-align: middle;
    padding: 8px 12px 8px 50px;
    border-bottom: 2px solid #222;
    /* background img */
    background-image: url(../img/newsulwhasoo_hd_black_search_220902.png);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    background-attachment: scroll;
    background-position-x: 15px;
    background-position-y: 50%;
}

.submit {
    position: absolute;
    top: 8px;
    right: 0;
    width: 90px;
    height: 52px;
    padding: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
    background-color: #222;
    text-align: center;
    font-weight: 700;
}

.close-search-box {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 9px;
    justify-content: center;
    flex-wrap: wrap;
}

/* gnb nav */
.gnb {
    padding: 0;
    vertical-align: center;
    position: relative;
    width: 100%;
    transition: background-color 0.3s ease-in;
}

.gnb:hover {
    background-color: #fff;
}


.gnb-menu {
    display: flex;
    justify-content: space-between;
    max-width: 882px;
    margin: 0 auto;
    position: relative;
}

.gnb-menu>li {
    display: inline-block;
}


.gnb-menu:hover {
    border-bottom: 1px solid #d5d5d5;
}

.d1_over:hover {
    position: relative;
}

.gnb-menu li {
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-out;
}

.gnb-menu li:hover {
    border-bottom: 3px solid #222;
}

.gnb-menu span {
    font-size: 16px;
}

.nav-d2-box {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    white-space: nowrap;
    display: none;
    margin: 0;
}

.nav-d2-box.show {
    display: inline-block;
    width: fit-content;
}

.nav-d2 {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.nav-d2-a {
    display: block;
    padding: 4px 15px 6px;
    font-size: 15px;
    letter-spacing: 0;
}

.nav-d3-box {
    padding: 5px 15px;
}

/* show/hide */
.show {
    display: block;
}

.bg {
    width: 100%;
    background-color: #fff;
}

.is-active {
    visibility: visible;
}

.hide {
    display: none;
}

/* swiper */
  .swiper-slide {
   font-size: 18px;
}

.swiper-slide img {
    width: 100% !important;
    object-fit: cover !important;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.swiper-container {
    z-index: 1;
    position: relative;
}


.mySwiper .swiper-pagination-progressbar {
    position: absolute;
    width: 420px !important;
    top: 80% !important;
    margin-left: 130px;
    background-color: rgba(255, 255, 255, .3);
}

.mySwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #fff;
}

.all-box .kv-control-btn {
    position: absolute;
    top: 79%;
    right: 51%;
    display: block;
    background-image: url(/img/play.png) !important;
    width: 9px;
    height: 11px;
    opacity: 1;
    cursor: pointer;
    align-items: flex-start;
    z-index: 2;
}

.swiper-button-prev,
.swiper-button-next {
    width: 68px !important;
    height: 68px !important;
    background-color: #fff;
    opacity: 0.5;
    color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

/* banner- text */
.swiper-container .text-wrapper{
    position: absolute;
    top: 47%;
    left: 11%;
}

.swiper-container .text-wrapper .text-l{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    animation: text-animation 1.3s cubic-bezier(.4,0,.2,1) both;
    animation-delay: .5s;
 }
.swiper-container .text-wrapper .text-title{
   font-size: 36px;
   font-weight: 700;
   letter-spacing: -.025em;
   margin: 0;
   padding: 13px 0 130px 0;
   animation: text-animation 1.3s cubic-bezier(.4,0,.2,1) both;
    animation-delay: .3s;
}

/* text -animation */
@keyframes text-animation {
    from {
        opacity: 0;
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

/* swiper - recommend */
.sul-recommend-sec{
    margin-top: 120px;
    padding:0 24px;
}
.recom-wrap{
   max-width: 1440px;
   margin: 0 auto;
   box-sizing: border-box;
}

.subSwiper h2{
    font-size: 28px;
    margin: 0;
    padding-bottom: 20px;
}

.recom-wrap{
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
}
.subSwiper h1{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -.025em;
    padding-bottom: 20px;
    margin: 0;
}

.subSwiper .swiper-slide .slide-textWrapper h2{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.025em;
    margin-top: 23px;
    padding:0;
    text-align: center;
}

.subSwiper .swiper-slide .slide-textWrapper {
    text-align: center;
}

.slide-imgWrapper img{
    width: 448px !important;
    height: 448px;
}

.subSwiper .pagination-container .pagination-container__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 35px !important;
}

.subSwiper .swiper-pagination-progressbar {
    position: absolute;
    width: 420px !important;
    top: 98% !important;
    left: 35% !important;
    background-color: #ddd;
    justify-content: center !important;
}
.text-price{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.025em;
}
.subSwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #000;
}


.best-seller{
    margin-top: 120px;
    padding: 0 24px;
}
.best-seller .best-seller-wrapper{
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    
    position: relative;
}

.best-seller-wrapper img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.best-detail-text{
    text-align: left;
    position: absolute;
    bottom: 16.67%;
    left: 11.805%;
}

.best-detail-text h3{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -.025em;
}

.best-detail-text span{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.025em;
    color: #666;
    padding: 7px 0 0 0;
}

.best-detail-text button{
    display: block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -.025em;
    padding: 8px 23px;
    border: 1px solid #000;
    background: none;
    margin-top: 26px;
}

/* 시즌별 추천 */
.season-recommend{
    margin-top: 120px;
    padding: 0 24px;
    
}

.seanson-wrapper{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
}

.season-recommend h2{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -.025em;
    padding: 0 20px;
}

.text-wrapper{
    text-align: center;
}

.text-wrapper span > h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.025em;
    padding-bottom: 3px;
    color: #222;
}

.text-wrapper h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.025em;
    padding-bottom: 3px;
    color: #222;
}

.text-wrapper p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.025em;
    color: #888;
    padding: 0 15px;
}

.text-wrapper .item-price{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #222;
}

.season-item-box{
    height: 100%;
    box-sizing: border-box;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}

.season-item-box img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.season-item-box-1{
    /* position: relative; */
    width: 23.75%;
    box-sizing: border-box;
    background-color: #ededed;
    padding-bottom: 3.472%;

}

.season-item-box-1 h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.025em;
    padding-bottom: 3px;
}

.season-item-box-3{
    position: relative;
    width: 23.75%;
    box-sizing: border-box;
    background-color: #ededed;
    padding-bottom: 3.472%;
}

.season-item-box-2 , .season-item-box-2  .img-wrapper{
    position: relative;
    height: 560px;
    flex: 1 1 auto;
}

.season-item-box-2 .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.season-item-box-2 .text-wrapper{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.text-wrapper span{
    display: block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.025em;
    color: #666;
    padding-top: 7.266px;
    padding-left: 59.859px;
    padding-bottom: 46.539px;
    padding-right: 12.102px;
}


/* store */
.store{
    margin-top: 120px;
    padding: 0 24px;
}

.store-container{
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
}

.store-list{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.store-list-item{
    width: 100%;
    margin: 0 13px;

}

.store-list-item h2{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -.025em;
    padding: 22px 0 14px

}


.store-list-item button{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -.025em;
    padding: 8px 23px;
    border: 1px solid #000;
    background: none;
    margin-top: 26px;
}