@media screen and (max-width:767px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    /* 767까지만 적용 */
    .mobile {
        display: block;
    }

    .pc {
        display: none !important;
    }


    header {
        width: 100%;
        position: relative;
    }

    /* design - header*/
    .l_leader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        z-index: 100;
        background-color: transparent;
    }

    .ham-menu {
        position: absolute;
        top: 25%;
        left: 20px;
        color: #fff;
    }

    .ham-menu .menu-icon {
        font-size: 23px;
    }

    .logo {}

    .logo img {
        width: 112px;
        height: 40px;
        object-fit: contain;
    }

    /* 검색 */
    .header-link {
        padding-top: 0;
        text-align: left;
        position: absolute;
        top: 20px;
        right: -20px;
    }

    .header-link>a {
        display: inline-block;
        font-size: 23px;
        margin: 0;
        padding: 0;
    }

    .header-link>a:after {
        display: none;
    }

    .header-link .search {
        color: #fff;
    }

    #top-search {
        padding: 10px 20px;
    }

    /* gnb menu */
    .sidenav {
        display: none;
        position: fixed;
        z-index: 1001;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background-color: #fff;
        transition: all 0.5s;
    }

    .sidenav-h {
        width: 100%;
        height: 60px;
        font-size: 1em;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .sidenav-h:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 59px;
        width: 100%;
        height: 1px;
        background-color: #eee;
    }

    .sidenav-h a {
        display: inline-block;
        width: 112px;
        height: 40px;
        background-image: url(../img/sulwhasoo_orange_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 23px;
    }

    .sidenav-wrap {
        position: absolute;
    }

    .sidenav-menu {
        display: block;
        flex-direction: column;
        max-width: 100vw;
        height: 100%;
        border: 1px solid red;
    }

    .wrap-nav-contents .nav-d1 {
        font-size: 23px;
        font-weight: 200;
        margin: 0;
        position: relative;
    }

    .wrap-nav-contents .nav-d1:first-child {
        margin-top: 20px;
    }

    .wrap-nav-contents .plus {
        position: absolute;
        top: 25%;
        right: 20px;
        font-size: 20px;
        transition: 0.5s;
    }

    .wrap-nav-contents .nav-d1 a {
        display: inline-block;
        padding: 12px 0 12px 20px;
    }

    .wrap-nav-contents .nav-d2-box {
        padding: 0 15px;
        background-color: #FAF9F4;
    }

    .wrap-nav-contents .nav-d2-box.active {
        visibility: visible;
        position: relative;
        top: 0;
        left: 0;
        display: block;
        font-size: 19px;
        font-weight: 500;
        margin: 0;
    }

    .wrap-nav-contents .nav-d2-box.active li {
        padding: 12px 0 12px 20px;
        border-bottom: 1px solid #a8a8a8;
    }

    .wrap-nav-contents .nav-d2-box.active li:last-child {
        border: none;
    }
    /* Swiper */
    .swiper-container{
        z-index: 1;
        position: relative;
        border: 4px solid blue;
    }
    .mySwiper{
        border: 4px solid red;
        height: 100vh;
    }
    .swiper-slide{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -100;
        overflow: hidden;
    }
    .img-container{
        width: 360px;
        height: 500px;
        overflow: hidden;
    }
     .img-container > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    } 
     .mySwiper .swiper-pagination-progressbar {
         position: absolute;
         width: 420px !important;
         top: 80% !important;
         margin-left: 130px;
         background-color: rgba(255, 255, 255, .3);
     }
     
     .mySwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
         background: #fff;
     }
     
     .all-box .kv-control-btn {
         position: absolute;
         top: 79%;
         right: 51%;
         display: block;
         background-image: url(/img/play.png) !important;
         width: 9px;
         height: 11px;
         opacity: 1;
         cursor: pointer;
         align-items: flex-start;
         z-index: 2;
     }
     
     .swiper-button-prev,
     .swiper-button-next {
         width: 68px !important;
         height: 68px !important;
         background-color: #fff;
         opacity: 0.5;
         color: black !important;
     }
     
     .swiper-button-prev:after,
     .swiper-button-next:after {
         font-size: 1.1rem !important;
         font-weight: 600 !important;
     }
     
     /* banner- text */
     .swiper-container .text-wrapper{
         position: absolute;
         top: 47%;
         left: 11%;
     }
     
     .swiper-container .text-wrapper .text-l{
         font-size: 18px;
         font-weight: 400;
         margin: 0;
         animation: text-animation 1.3s cubic-bezier(.4,0,.2,1) both;
         animation-delay: .5s;
      }
     .swiper-container .text-wrapper .text-title{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -.025em;
        margin: 0;
        padding: 13px 0 130px 0;
        animation: text-animation 1.3s cubic-bezier(.4,0,.2,1) both;
         animation-delay: .3s;
     }

}